* {
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem;
}

.nav-link{
    font-weight: 600;
}

/*---/Banner-Style--*/
.w3l-main-slider li {
    list-style-type: none;
}

.w3l-main-slider .banner-info-bg ul li {
    display: inline-block;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--font-color);
}

.banner-info-bg {
    margin: 0;
    max-width: 400px;
}

.w3l-main-slider .banner-info-bg ul {
    margin: 24px 0;
}

.w3l-main-slider .banner-slider {
    position: relative;
    z-index: 1;
}

.w3l-main-slider .slider-info a img {
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
}

.w3l-main-slider .companies20-content {
    position: relative;
}

.w3l-main-slider .banner-view {
    background: url(../images/banner4.jpg) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
    min-height: 720px;
    background-size: cover;
}

.w3l-main-slider .banner-top2 {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
}

.w3l-main-slider .banner-top3 {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
}

.w3l-main-slider .banner-top4 {
    background: url(../images/banner4.jpg) no-repeat center;
    background-size: cover;
}

.w3l-main-slider .banner-view:before {
    content: "";
    background: var(--layer);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-main-slider .banner-info {
    padding: 5em 0 0;
    max-width: 1080px;
}

.w3l-main-slider .banner-info-top {
    margin-bottom: 20px;
}

.w3l-main-slider .banner-info h2 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 14px;
    font-weight: 700;
}



.w3l-main-slider .banner-info p {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
}

.w3l-main-slider .read-more {
    border: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 0.7em 3em;
    display: inline-block;
    font-size: 15px;
    border-radius: 0;
    outline: none;
    margin-top: 1.5em;
    font-weight: 600;
}

.w3l-main-slider .read-more:hover {
    background: #0fbcf9;
    border: 1px solid #0fbcf9;
}

@media (max-width: 1600px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 80px;
        line-height: 84px;
        color: #fff;
        margin-bottom: 14px;
    }
}

@media (max-width: 1390px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 50px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 14px;
        font-weight: 400;
    }

}

@media (max-width: 1369px) {
    .w3l-main-slider .banner-info {
        padding: 5em 0 0;
    }
}

@media (max-width: 1290px) {}

@media (max-width: 1080px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 60px;
        line-height: 70px;
    }

}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 55px;
        line-height: 65px;
    }

}

@media (max-width: 800px) {
    .w3l-main-slider .banner-info h4 {
        font-size: 32px;
        line-height: 35px;
        max-width: 340px;
        margin: 20px 0;
    }

    .w3l-main-slider .banner-view {
        min-height: 620px;
    }
}

@media (max-width: 736px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 60px;
        line-height: 72px;
    }

}

@media (max-width: 669px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 54px;
        line-height: 64px;
    }

    .w3l-main-slider .banner-info {
        padding: 4em 0 0;
    }

    .w3l-main-slider .banner-info h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .w3l-main-slider .banner-view {
        min-height: 550px;
    }
}

@media (max-width: 601px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .w3l-main-slider .banner-info p {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    .w3l-main-slider .banner-info-top-grids h5 {
        font-size: 13px;
    }

    .banner-info-top-grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        justify-content: space-between;
    }

}

@media (max-width:600px) {
    .w3l-main-slider .banner-info {
        max-width: 250px;
    }

}

@media (max-width: 568px) {
    .banner-info-top-grids {
        display: none;
    }

    .w3l-main-slider .banner-info h2 {
        font-size: 44px;
        line-height: 54px;
    }
}

@media (max-width: 480px) {
    .w3l-main-slider .banner-view {
        min-height: 850px;
    }

    .w3l-main-slider .banner-info h2 {
        font-size: 32px;
        line-height: 52px;
    }
}

@media (max-width: 460px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .w3l-main-slider .banner-view {
        min-height: 440px;
    }
}

@media (max-width: 430px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 600;
    }

    .w3l-main-slider .banner-info {
        max-width: 400px;
    }
    .w3l-main-slider .banner-view {
        min-height: 440px;
    }
}

@media (max-width: 387px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .w3l-main-slider .banner h4 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media (max-width: 376px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 30px;
        line-height: 40px;
    }

}

@media (max-width: 320px) {
    .w3l-main-slider .banner-info h2 {
        font-size: 28px;
        line-height: 38px;
    }

}


/*--//w3l-main-slider--*/